<div id="<%= dom_id supplier %>">
  <div>
    <strong>Company name:</strong>
    <%= supplier.company_name %>
  </div>

  <div>
    <strong>Contact name:</strong>
    <%= supplier.contact_name %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= supplier.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= supplier.email %>
  </div>

</div>
